<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	metadata-complete="true" version="3.1">
	<display-name>hadoop web proxy project</display-name>
	<description>
     	Welcome to Tomcat
  	</description>

	<servlet>
		<servlet-name>DownloadServer_SZWG</servlet-name>
		<servlet-class>com.github.linary.hadoop.DownloadServer</servlet-class>

		<init-param>
			<param-name>HDFS_PATH</param-name>
			<param-value>hdfs://master:8020/download/</param-value>
		</init-param>
		<init-param>
			<param-name>BASE_PATH</param-name>
			<param-value>master</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServer_SZWG</servlet-name>
		<url-pattern>/master/*</url-pattern>
	</servlet-mapping>
	
</web-app>
